<% @page_title =  @post.title %>
<div class="row">
  <h1 class="text-center"><%= @post.title %></h1>
  <div class="well">
    <%= @post.content %>
  </div>

  <div>
    <p class="text-center">
      <a href="/" class="btn btn-success">Revenir à l'index</a>
    </p>
  </div>
</div>